<!DOCTYPE html />
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>PontoonQL for Express</title>
  <style>
    body {
      font-family: "Helvetica";
      padding: 40px;
    }

    p.res {
      background-color: #dedede;
      font-size: 1.2em;
      padding: 20px;
    }

    th, td {
      padding: 8px;
    }
    thead {
      background-color: #ccc;
    }
    tbody tr:nth-child(even) {
      background-color: #eee;
    }
  </style>
</head>
<body>

  <a href="https://github.com/pdehaan/pontooql-express/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>

  {{{ body }}}

</body>
</html>
