<!DOCTYPE html />
<html lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>PontoonQL for Express</title>
  <style>
    body {
      font-family: "Helvetica";
      padding: 40px;
    }

    p.res {
      background-color: #dedede;
      font-size: 1.2em;
      padding: 20px;
    }
  </style>
</head>
<body>

  {{{ body }}}

</body>
</html>
