<h1>Usage:</h1>

<p>Go to <strong>{{ path }}</strong>, where <code>:product</code> is the project slug from <a href="https://pontoon.mozilla.org/projects/" target="_blank">https://pontoon.mozilla.org/projects/</a>, and the optional <code>:pct</code> is the minimum translation percentage for the locale (default 80 percent).</p>

<h2>Example:</h2>

<ul>
  <li><a href="/firefox-monitor-website">/firefox-monitor-website</a> &mdash; Fetch all locales with at least <strong>80%</strong> translations (default) for the <strong>"firefox-monitor-website"</strong> project.</li>
  <li><a href="/firefox-accounts/90">/firefox-accounts/90</a> &mdash; Fetch all locales with at least <strong>90%</strong> translations for the <strong>"firefox-accounts"</strong> project.</li>
</ul>
